@import 'reset';

::selection {
	color: #191A23;
	background-color: #B9FF66;
}

body {
	font-family: var(--sf-pro-display);
	font-size: clamp(14px, 3vw, 18px);
	line-height: 160%;
	height: 200vh;
	color: #191A23;
	background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
	line-height: normal;
}

a {
	text-decoration: none;
	color: inherit;
}
