.main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 100svh;
	padding: calc(0.5vw + 28px + 3.35em + 12px) 0;

	@media (max-width: 1024px) {
		flex-direction: column-reverse;
		justify-content: center;
	}

	.illustration {
		width: 40%;
		min-width: 272px;

		@media (max-width: 1024px) {
			width: 100%;
			max-width: 400px;
		}
	}

	.content {
		width: 50%;
		min-width: 272px;

		@media (max-width: 1024px) {
			width: 70%;
			padding-top: 2em;
			text-align: center;

			.button {
				margin: 0 auto;
			}
		}

		@media (max-width: 540px) {
			width: 100%;
		}

		.title {
			font-family: var(--unbounded);
			font-size: 2em;
			font-weight: 700;
		}

		.text {
			margin: 2em 0;
		}
	}
}
