.accordion {
	margin-bottom: 2em;
	transition: background-color 0.15s ease-in-out;
	border: 1px solid #191A23;
	border-radius: 2.5em;
	background-color: #F3F3F3;
	box-shadow: 0 0.3em 0 0 #191A23;

	&:hover, &[open] {
		background-color: #B9FF66;

		::selection {
			color: #B9FF66;
			background-color: #191A23;
		}
	}

	.header {
		font-family: var(--unbounded);
		font-size: 1.7em;
		font-weight: 700;
		display: flex;
		align-items: center;
		padding: 1.333em 2em;
		list-style: none;
		cursor: pointer;

		@media (max-width: 540px) {
			font-size: 1.25em;
			padding: 1em 1.5em;
		}

		@media (max-width: 375px) {
			font-size: 1em;
		}

		&::-webkit-details-marker {
			display: none;
		}

		.number {
			font-size: 2em;
			font-weight: 500;
			margin-right: 0.5em;

			@media (max-width: 540px) {
				font-size: 1.5em;
			}
		}
	}

	.content {
		overflow: hidden;
		width: 100%;

		@media (max-width: 540px) {
			padding: 0 1.5em 1em;
		}

		.divider {
			width: calc(100% - 6em);
			height: 1px;
			margin: 0 3em 1.5em;
			background-color: #191A23;

			@media (max-width: 540px) {
				margin: 0 3em 1em;
			}
		}

		.text {
			width: 100%;
			padding: 0 3em 2em;
			white-space: pre-wrap;
		}
	}
}
