*, *:before, *:after {
	box-sizing: border-box;

	@media (prefers-reduced-motion: reduce) {
		transition: all 0s !important;
		animation: none !important;
	}
}

html, button {
	cursor: none;

	@media (prefers-reduced-motion: reduce) {
		cursor: initial;
	}
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video, button {
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}

footer, header, nav, section, main {
	display: block;
}

body {
	font-size: calc(15px + 0.1953125vw);
	line-height: 160%;
	min-height: 200vh;
	color: #191A23;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

input {
	border-radius: 0;
	-webkit-appearance: none;
}

button {
	color: inherit;
	background: none;

	&:focus {
		outline: none;
	}

	@media (prefers-reduced-motion: reduce) {
		cursor: pointer;
	}
}

*::selection {
	color: #191A23;
	background-color: #B9FF66;
}
