.main-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 100svh;
	gap: 3em;

	&__content {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		flex-shrink: 1;
		min-width: 272px;
		max-width: 700px;
		gap: 2em;

		&-title {
			font-weight: 700;
		}

		&-text {
			width: 90%;
		}
	}

	&__illustration {
		flex-shrink: 0;
		width: 40%;

		svg {
			display: block;
		}
	}

	@media screen and (width <= 768px) {
		flex-direction: column-reverse;
		justify-content: center;

		&__content {
			text-align: center;

			&-text {
				align-self: center;
			}

			&-link {
				align-self: center;
			}
		}

		&__illustration {
			width: 70%;
		}
	}
}
