.button {
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.15em 1.75em;
	color: #191A23;
	border: 1px solid #191A23;
	border-radius: 20px;

	svg {
		width: 1.333em;
		height: 1.333em;
		margin-left: 0.5em;
	}
}
