@use 'variables';

@import 'reset';
@import 'mixins';

html {
	font-family: var(--sf-pro);
	line-height: 1.6em;
	color: var(--black-to-white);
	background-color: var(--white-to-black);

	@include dynamic-font-size;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--unbounded);
	font-weight: 500;
	line-height: 1.2em;
}

h1 {
	font-size: 2.111111111em;
}

h2 {
	font-size: 1.888888888em;
}

h3 {
	font-size: 1.666666666em;
}

h4 {
	font-size: 1.444444444em;
}

h5 {
	font-size: 1.222222222em;
}

h6 {
	font-size: 1em;
}

.container {
	width: 100%;
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 12px;
}

button, a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

@media screen and (prefers-reduced-motion: reduce) {
	*, *:before, *:after {
		transition: all 0s !important;
	}
}

body {
	min-height: 300vh;
}

.section {
	padding-top: 6em;
	padding-bottom: 6em;

	&__title {
		display: inline-block;
		padding: 0 0.444444444em;
		color: variables.$black-color;
		border-radius: 0.333333333em;
		background-color: variables.$primary-color;
	}

	&__text {
		max-width: 700px;
		margin-top: 1.333333333em;
	}
}

::selection {
	color: variables.$black-color;
	background-color: variables.$primary-color;
}

svg {
	*[class$='__black-to-dark-stroke'] {
		stroke: var(--black-to-dark);
	}

	*[class$='__black-to-dark'] {
		fill: var(--black-to-dark);
	}

	*[class$='__white-to-black'] {
		fill: var(--white-to-black);
	}

	*[class$='__black-to-full-black'] {
		fill: var(--black-to-full-black);
	}

	*[class$='__white-to-dark'] {
		fill: var(--white-to-dark);
	}
}
